node_modules/
.DS_Store
*.log
.vscode/
.idea/
scratch/
dist/
build-installer/runtime/
*.exe
android_tv_app/build/
android_mobile_app/build/
*.idsig

# Large data logs and dynamic files
Log/
*.me
*.rar
*.zip
*.tflite
*cache.json
**/*cache.json
**/karmed_profile/
**/user_sessions/
versions/
UTT_TV_MONITOR_PORTABLE/


